label {display: block;text-align: center; height: 80vh;}
#voronoi path {
    stroke:grey;
    stroke-width:1px;
    fill:transparent;
}
#voronoi path:hover {
    stroke:grey;
    stroke-width:1px;
    fill:rgba(50%,50%,50%,.2);
}
#voronoi a:focus-visible
{outline:none}
label {position: relative;min-height: 0;}
#result p {display:block;}
html, body {width: 100%; height: 100%; text-align: center; overflow: hidden; margin: 0; padding: 0;}
svg {
    max-height:100%;
    max-width:100%;
    margin:auto;
}
svg text {
    font-size: 12px;
    font-family: sans-serif;
    fill: #ccc;
}
svg g#clickableArea {
    cursor: pointer;
}
#interactiveShow * {
    opacity: 1;
    transition: opacity 2s;
}
#interactiveShow .fadeOff {
    opacity: 0;
}